<% include ../partials/header %>

<div class="row justify-content-center">
    <div class="col-md-12 text-center">
        <h1>Edit Comment</h1>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        <form action="/campgrounds/<%=campground_id%>/comments/<%= comment._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <textarea class="custom-textarea form-control" name="comment[text]" rows="4" placeholder="text"><%= comment.text %></textarea>
            </div>
            <div class="form-group">
                <button class="btn-lg btn-primary btn-block" type="submit">Submit!</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground_id %>">Go Back</a>
    </div>
</div>

<% include ../partials/footer %>