<% include ./partials/header %>
<div class="row">
	<div class="col-md-12">
		<form class="form-forgot" action="/forgot" method="POST">
			<legend>Forgot Password</legend>
			<div class="form-group">
				<label for="email">Email</label>
				<input class="form-control" type="email" name="email" placeholder="john@weidner.com" autofocus>
			</div>
			<div class="form-group">
				<input class="btn btn-primary" type="submit" value="Reset Password">
			</div>
		</form>
	</div>
</div>
<% include ./partials/footer %>