.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}


.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.location-input {
    width: 49%;
    display: inline;
}

#map {
    height: 400px;
    width: 100%;
    border: 1px solid black;
}

#edit-profile-button {
    margin-bottom: 20px;
}

#myTextarea {
    resize: none;
}

#about-panel {
    margin-top: 20px;
}